# Google Cloud Service Account JSON credentials
GOOGLE_SERVICE_ACCOUNT_JSON=

# Google Sheets Spreadsheet ID
SPREADSHEET_ID=

# Secret for Cron Job Authentication
CRON_SECRET=

# Secret for Webhook Authentication
WEBHOOK_SECRET=

# Local Vite App Config
VITE_CRON_SECRET=
